<section class="container py-5 my-5" id="products">
    <h2 class="text-center mb-4">Our Product</h2>

    <div class="d-flex justify-content-center mb-4">
        <div class="mb-3">
            <select
                class="form-select form-select-lg"
                name="categoryId"
            >
                @for (item of categoies; track item.id) {
                    <option [value]="item.id">{{item.name}}</option>
                }
            </select>
        </div>
    </div>

    <div class="tab-content" id="productTabContent">
       

        <div class="tab-pane fade show active" id="kategori1-produk" role="tabpanel" aria-labelledby="kategori1-tab">
            <div class="row g-4">
                @for (item of products; track item.id) {
                    <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img [src]="item.mainImg" class="card-img-top" alt="Produk 1">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="fw-bold text-primary">Price: {{item.price}}</p>
                            <p class="fw-bold text-primary">Quantity: {{item.quantity}}</p>
                            <input type="number" class="form-control mb-3" placeholder="Quantity" min="1" #Quantity>
                            <button class="btn btn-success mt-auto" (click)="decreaseQuantiy(item, Quantity.valueAsNumber)">Add To Cart</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
